<ng-container *ngIf="!loading(); else loadingTpl">
  <button
    (click)="loadMoreProducts()"
    class="btn btn-primary"
    [disabled]="!hasMore()"
  >
    More Products
  </button>
  <div class="alert alert-warning">Product Number: {{ products().length }}</div>
  <div class="row">
    <div class="col-4" *ngFor="let product of products()">
      <img
        alt="image"
        class="rounded-circle"
        [src]="product.thumbnail"
        [alt]="product.title"
        [title]="product.title"
        width="150px"
        height="150px"
      />
      {{ product.title }}
    </div>
  </div>
</ng-container>

<ng-template #loadingTpl> Loading... </ng-template>
